[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hugo-bootstrap-theme"]
	path = themes/hugo-bootstrap-theme
	url = https://github.com/filipecarneiro/hugo-bootstrap-theme
[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = https://github.com/devcows/hugo-universal-theme.git
