{{ if .IsTranslated }}
<div class="language-switcher dropdown">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="languageSwitcher"
        data-bs-toggle="dropdown" aria-expanded="false">
        {{ i18n "language" }}: {{ .Language.LanguageName }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="languageSwitcher">
        {{ range .Translations }}
        <li><a class="dropdown-item" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a></li>
        {{ end }}
        {{ range .AllTranslations }}
        {{ if not (eq .Language.Lang $.Language.Lang) }}
        <li><a class="dropdown-item" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a></li>
        {{ end }}
        {{ end }}
    </ul>
</div>
{{ end }}